<h2>Emplyee Details</h2>
        <table class="table">
                <thead>
                  <tr>
                    <th width=200>Email</th>
                    <th width=200>Name</th>
                    <th width=200>Age</th>
                    <th width=200>Position</th>
                    <th width=200>Salary</th>
                    <th>Search : <input type="text" name="search" [(ngModel)]="search"></th>
                  </tr>
                </thead>
                <tbody>
                   
                  <tr *ngFor="let employee of employees| filter :search" >
                      <td>{{employee.email}}</td>
                        <td>{{employee.username}}</td>
                        <td>{{employee.age}}</td>
                        <td>{{employee.designation}}</td>
                        <td>{{employee.salary}}</td>
                      <td><a class="btn btn-success" (click)="editEmployee(employee.email)" >Edit</a></td>
                    </tr>
                </tbody>
              </table>

              <a href="/login">Add Employee</a>
        